apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: ictarchproject
          ports:
            - containerPort: 3000
          livenessProbe:
            httpGet:
              path: /login
              port: 3000
          readinessProbe:
            httpGet:
              path: /login
              port: 3000
