apiVersion: apps/v1
kind: Deployment
metadata:
  name: game-catalog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: game-catalog
  template:
    metadata:
      labels:
        app: game-catalog
    spec:
      containers:
        - name: game-catalog
          image: ictarchproject
          ports:
            - containerPort: 3000
          livenessProbe:
            httpGet:
              path: /games
              port: 3000
          readinessProbe:
            httpGet:
              path: /games
              port: 3000
