apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendation
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recommendation
  template:
    metadata:
      labels:
        app: recommendation
    spec:
      containers:
        - name: recommendation
          image: ictarchproject
          ports:
            - containerPort: 3000
          livenessProbe:
            httpGet:
              path: /recommendations
              port: 3000
          readinessProbe:
            httpGet:
              path: /recommendations
              port: 3000
