apiVersion: apps/v1
kind: Deployment
metadata:
  name: media-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: media
  template:
    metadata:
      labels:
        app: media
    spec:
      containers:
        - name: media
          image: media-service:local
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: media-service
spec:
  selector:
    app: media
  ports:
    - port: 80
      targetPort: 3006 # port van npm start 3005 index.js
      nodePort: 30087 # port to use in browser
  type: NodePort
