apiVersion: apps/v1
kind: Deployment
metadata:
  name: price-tracking-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: price-tracking
  template:
    metadata:
      labels:
        app: price-tracking
    spec:
      containers:
        - name: price-tracking
          image: price-tracking-service:local
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: price-tracking-service
spec:
  selector:
    app: price-tracking
  ports:
    - port: 80
      targetPort: 3005 # port van npm start 3005 index.js
      nodePort: 30086 # port to use in browser
  type: NodePort
