apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendations-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recommendations
  template:
    metadata:
      labels:
        app: recommendations
    spec:
      containers:
        - name: recommendations
          image: recommendations-service:local
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: recommendations-service
spec:
  selector:
    app: recommendations
  ports:
    - port: 80
      targetPort: 3002 # port van npm start 3000 index.js
      nodePort: 30083 # port to use in browser
  type: NodePort
