apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-collection-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-collection
  template:
    metadata:
      labels:
        app: user-collection
    spec:
      containers:
        - name: user-collection
          image: user-collection-service:local
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: user-collection-service
spec:
  selector:
    app: user-collection
  ports:
    - port: 80
      targetPort: 3008 # port van npm start 3005 index.js
      nodePort: 30089 # port to use in browser
  type: NodePort
